<div class="music-nav" data-audio-player aria-label="Music controller">
  <audio src="/audio/dissembly-this-is-where-we-start.wav" loop preload="metadata" data-audio data-track-title="This is where we start" data-track-artist="Dissembly"></audio>
  <button class="site-nav__link site-nav__link--button music-nav__button" type="button" aria-label="Play music" data-player-toggle>
    <span class="music-nav__disc" aria-hidden="true">
      <canvas class="music-cd-canvas" width="96" height="96" data-cd-canvas></canvas>
    </span>
    <span class="music-nav__label">Music</span>
    <span class="music-nav__status" data-player-status>paused</span>
  </button>
</div>
